# Ultralytics requirements
# Usage: pip install -r requirements.txt

# Base ----------------------------------------
matplotlib
opencv-python
Pillow
PyYAML
requests
scipy
torch
torchvision
tqdm
easydict
ultralytics
# Logging -------------------------------------
# tensorboard>=2.13.0
# clearml
# comet

# Plotting ------------------------------------
pandas
seaborn
